h1 Signal metrics dashboard
p(ng-if="!$ctrl.sensors") Retrieving sensors...
form.form-horizontal(ng-submit="$ctrl.onSubmit()" ng-if="$ctrl.sensors")
  legend Search:
  .form-group
    .col-xs-12
      .btn-group.btn-group-justified(role="group")
        .btn-group(ng-repeat="sensorName in $ctrl.sensors")
          button.btn.btn-default(type="button" ng-click="$ctrl.query.name = sensorName" ng-class="{active: $ctrl.query.name === sensorName}") {{sensorName}}
  .form-group
    .col-sm-6
      label.control-label.col-xs-2(for="from") From:
      .col-xs-10
        input.form-control(type="date" name="from" id="from" ng-model="$ctrl.query.from")
    .col-sm-6.marginTop10on750
      label.col-xs-2(for="to") To:
      .col-xs-10
        input.form-control(type="date" name="to" id="to" ng-model="$ctrl.query.to")
  .form-group
    .col-xs-12
      button.btn.btn-primary.btn-lg.btn-block(type="submit" ng-disabled="!$ctrl.query.name") Submit

div(ng-show="$ctrl.labels")
  form.form-horizontal(ng-submit="$ctrl.onSubmit()")
    legend Filters:
    .form-group
      .col-xs-12.col-md-6
        .btn-group.btn-group-justified(role="group")
          .btn-group(ng-repeat="signal in $ctrl.signals")
            button.btn.btn-default(type="button" ng-disabled="$ctrl.providedSignals.indexOf(signal) < 0" ng-click="$ctrl.updateSignal(signal)" ng-class="{active: $ctrl.filters.signal.indexOf(signal) >= 0}") {{signal}}
      .col-xs-12.col-md-6.marginTop10on992
        .btn-group.btn-group-justified(role="group")
          .btn-group
            button.btn.btn-default(type="button" ng-click="$ctrl.onChangeRange(0)" ng-class="{active: !$ctrl.filters.range}") {{$ctrl.ranges[0]}}
          .btn-group
            button.btn.btn-default(type="button" ng-click="$ctrl.onChangeRange(1)" ng-class="{active: $ctrl.filters.range === 1}") {{$ctrl.ranges[1]}}
          .btn-group
            button.btn.btn-default(type="button" ng-click="$ctrl.onChangeRange(2)" ng-class="{active: $ctrl.filters.range === 2}") {{$ctrl.ranges[2]}}

canvas(ng-if="$ctrl.labels" id="line" class="chart chart-line" chart-data="$ctrl.data"
  chart-labels="$ctrl.labels" chart-legend="true" chart-series="$ctrl.series"
  chart-click="$ctrl.onClick")
