h1 Signal metrics dashboard
form.form-horizontal(ng-submit="$ctrl.onSubmit()")
  legend Search:
  .form-group
    .col-xs-12
      .btn-group.btn-group-justified(role="group")
        .btn-group
          button.btn.btn-default(type="button" ng-click="$ctrl.query.name = 'sensor1'" ng-class="{active: $ctrl.query.name === 'sensor1'}") Sensor 1
        .btn-group
          button.btn.btn-default(type="button" ng-click="$ctrl.query.name = 'sensor2'" ng-class="{active: $ctrl.query.name === 'sensor2'}") Sensor 2
        .btn-group
          button.btn.btn-default(type="button" ng-click="$ctrl.query.name = 'sensor3'" ng-class="{active: $ctrl.query.name === 'sensor3'}") Sensor 3
        .btn-group
          button.btn.btn-default(type="button" ng-click="$ctrl.query.name = 'sensor4'" ng-class="{active: $ctrl.query.name === 'sensor4'}") Sensor 4
        .btn-group
          button.btn.btn-default(type="button" ng-click="$ctrl.query.name = 'sensor5'" ng-class="{active: $ctrl.query.name === 'sensor5'}") Sensor 5
  .form-group
    .col-sm-6
      label.control-label.col-xs-2(for="from") From:
      .col-xs-10
        input.form-control(type="date" name="from" id="from" ng-model="$ctrl.query.from")
    .col-sm-6
      label.col-xs-2(for="to") To:
      .col-xs-10
        input.form-control(type="date" name="to" id="to" ng-model="$ctrl.query.to")
  .form-group
    .col-xs-12
      button.btn.btn-primary.btn-lg.btn-block(type="submit" ng-disabled="!$ctrl.query.name") Submit

div(ng-show="$ctrl.labels")
  form.form-horizontal(ng-submit="$ctrl.onSubmit()")
    legend Filters:
    .form-group
      .col-xs-12.col-md-6
        .btn-group.btn-group-justified(role="group")
          .btn-group
            button.btn.btn-default(type="button" ng-disabled="$ctrl.providedSignals.indexOf('temperature') < 0" ng-click="$ctrl.updateSignal('temperature')" ng-class="{active: $ctrl.filters.signal.indexOf('temperature') >= 0}") Temperature
          .btn-group
            button.btn.btn-default(type="button" ng-disabled="$ctrl.providedSignals.indexOf('pressure') < 0" ng-click="$ctrl.updateSignal('pressure')" ng-class="{active: $ctrl.filters.signal.indexOf('pressure') >= 0}") Pressure
          .btn-group
            button.btn.btn-default(type="button" ng-disabled="$ctrl.providedSignals.indexOf('humidity') < 0" ng-click="$ctrl.updateSignal('humidity')" ng-class="{active: $ctrl.filters.signal.indexOf('humidity') >= 0}") Humidity
          .btn-group
            button.btn.btn-default(type="button" ng-disabled="$ctrl.providedSignals.indexOf('precipitation') < 0" ng-click="$ctrl.updateSignal('precipitation')" ng-class="{active: $ctrl.filters.signal.indexOf('precipitation') >= 0}") Precipitation
      .col-xs-12.col-md-6
        .btn-group.btn-group-justified(role="group")
          .btn-group
            button.btn.btn-default(type="button" ng-click="$ctrl.onChangeRange(0)" ng-class="{active: !$ctrl.filters.range}") {{$ctrl.ranges[0]}}
          .btn-group
            button.btn.btn-default(type="button" ng-click="$ctrl.onChangeRange(1)" ng-class="{active: $ctrl.filters.range === 1}") {{$ctrl.ranges[1]}}
          .btn-group
            button.btn.btn-default(type="button" ng-click="$ctrl.onChangeRange(2)" ng-class="{active: $ctrl.filters.range === 2}") {{$ctrl.ranges[2]}}

canvas(ng-if="$ctrl.labels" id="line" class="chart chart-line" chart-data="$ctrl.data"
  chart-labels="$ctrl.labels" chart-legend="true" chart-series="$ctrl.series"
  chart-click="$ctrl.onClick")
