h1 Graphs
form(action="/graph" method="POST")
  .row
    select(name="name")
      option(value="sensor1") Sensor 1
      option(value="sensor2") Sensor 2
      option(value="sensor3") Sensor 3
      option(value="sensor4") Sensor 4
      option(value="sensor5") Sensor 5
  .row
    select(name="signal" multiple)
      option(value="temperature") Temperature
      option(value="pressure") Pressure
      option(value="humidity") Humidity
      option(value="precipitation") Precipitation
  .row
    label(for="from") From:
    input(type="date" name="from" id="from")
  .row
    label(for="to") To:
    input(type="date" name="to" id="to")
  .row
    label(for="range") Range:
    input(type="range" min="0" max="2" name="range")
  .row
    button(type="submit") Submit


pre {{$ctrl.testing}}
