doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title MY APP
  body 
    h1 Hello
    form(action="/files" method="POST" enctype="multipart/form-data")
      .row
        input(type="file" name="myfile" id="onefile")
        label(for="onefile") Upload a file
      //.row
      //  input(type="text" name="text" placeholder="example text")
      .row
        button(type="submit") Submit

