.centered
  h1 Hello and welcome.
  h3 Please upload some csvs 
    a.small(href="#!/dashboard") or go to dashboard.
  .drop-box(ngf-drop="$ctrl.uploadFiles($files)" ngf-select="$ctrl.uploadFiles($files)" ngf-multiple="true" accept=".csv" ngf-dragover-class="$ctrl.dragoverObj" ngf-drop-available="true") Select or drop files
  span.progress(ng-show="$ctrl.progress >= 0")
    div(style="width:{{$ctrl.progress}}%" ng-bind="$ctrl.progress + '%'")
  
  .success-alert(ng-show="$ctrl.response")
    .alert.alert-success(role="alert") {{$ctrl.response.inserted}} have been inserted and {{$ctrl.response.updated}} have been updated of {{$ctrl.files.length}} files. 
      br
      a.alert-link(href="#!/dashboard") Go to dashboard and check it out.
        
  .progress-file-container(ng-repeat="f in $ctrl.files" style="font:smaller" ng-class="{fadeOut: f.progress === 100}")
    .col-xs-4.col-sm-2.file-name {{f.name}}
    .col-xs-8.col-sm-10
      .progress
        .progress-bar.progress-bar-striped.active(role="progressbar" aria-valuenow="{{f.progress}}" aria-valuemin="0" aria-valuemax="100" ng-style="{width: f.progress + '%'}")
          {{f.progress}}% Complete

  .error-alerts(ng-repeat="f in $ctrl.errFiles") 
    .alert.alert-danger(role="alert") {{f.name}} {{f.$error}} {{f.$errorParam}}
  

  pre(ng-show="$ctrl.errorMsg") {{$ctrl.errorMsg | json}}
